.rmfw-retailers-ui {
  /* Base styles */
  color: var(--rmfw-color-foreground);
  font-size: 0.875rem;
  line-height: 1.25rem;

  /* Box sizing reset */
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  /* Typography reset */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp,
  pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  /* Lists */
  ol,
  ul,
  menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* Images and media */
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    vertical-align: middle;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  /* Tables */
  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  /* Form elements */
  button,
  input,
  select,
  optgroup,
  textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: transparent;
    border-radius: 0;
  }

  button,
  input {
    overflow: visible;
  }

  button,
  select {
    text-transform: none;
  }

  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button;
    appearance: button;
  }

  button::-moz-focus-inner,
  [type='button']::-moz-focus-inner,
  [type='reset']::-moz-focus-inner,
  [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  button:-moz-focusring,
  [type='button']:-moz-focusring,
  [type='reset']:-moz-focusring,
  [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }

  legend {
    padding: 0;
  }

  progress {
    vertical-align: baseline;
  }

  textarea {
    overflow: auto;
    resize: vertical;
  }

  [type='checkbox'],
  [type='radio'] {
    padding: 0;
  }

  [type='search'] {
    -webkit-appearance: textfield;
    appearance: textfield;
    outline-offset: -2px;
  }

  [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    appearance: button;
    font: inherit;
  }

  ::placeholder {
    opacity: 1;
    color: color-mix(in oklab, currentcolor 50%, transparent);
  }

  /* Chrome, Safari, Edge, Opera - number input */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox - number input */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  /* Other elements */
  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  details {
    display: block;
  }

  summary {
    display: list-item;
  }

  [hidden]:where(:not([hidden='until-found'])) {
    display: none !important;
  }
}

/* Override wp styles */
.rmfw-retailers-ui {
  :where(button, code, form, h1, h2, h3, h4, h5, h6, input, ul, ol, li, nav, p, textarea) {
    margin: 0;
    padding: 0;
  }
}

.rmfw-retailers-ui.rmfw-product-retailers-frontend {
  padding: 30px 0px;
}

#rmfw-product-retailers-frontend {
  width: 100%;
  display: inline-block;
}

.animate-slide-up {
  animation: slideUp 0.4s ease-out;
}

