.rmfw-retailers-ui {
  @apply text-foreground text-sm;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

* {
  @apply border-border outline-ring/50 hover:ring-primary-accent ring-primary;
}

/* Override wp styles */

.rmfw-retailers-ui {
  :where(button, code, form, h1, h2, h3, h4, h5, h6, input, ul, ol, li, nav, p, textarea) {
    @apply m-0 p-0;
  }
}
.rmfw-retailers-ui.rmfw-product-retailers-frontend {
  padding: 30px 0px;
}
#rmfw-product-retailers-frontend {
  width: 100%;
  display: inline-block;
}

.animate-slide-up {
  animation: slideUp 0.4s ease-out;
}

#wpcontent {
  padding-left: 0px !important;
}
.notice,
.notice-info,
.notice-warning,
.notice-error,
.notice-success,
.error,
.success,
.info,
.warning,
#screen-meta,
#screen-meta-links {
  display: none;
}
