.rmfw-wp-color-picker > div:not(.react-colorful) {
  display: none;
}

.rmfw-wp-color-picker,
.rmfw-wp-color-picker .react-colorful {
  width: 100% !important;
}
.rmfw-wp-color-picker .react-colorful .react-colorful__hue {
  width: 92% !important;
}
.rmfw-wp-color-palette
  .components-circular-option-picker
  .components-circular-option-picker__swatches {
  gap: 6px;
}

.rmfw-wp-color-input {
  width: 100px;
}

.rmfw-wp-color-input .components-input-control__container {
  border-radius: 6px;
}
.rmfw-wp-color-input .components-input-control__container input {
  height: 36px !important;
  min-height: 36px !important;
}
.rmfw-wp-color-input .components-input-control__container input:focus {
  border-color: #23916f;
}
.components-button:focus:not(:disabled) {
  box-shadow: none;
}
